@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
*  {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #6492cf;
    font-family: 'Quintessential', cursive;
}

.letters {
    font-family: 'Eater', cursive;
    font-size: 3em;
    letter-spacing: 8px;
    color: #fa6701;
    animation: flicker 5s linear infinite;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper figure svg > * {
    opacity: 0;
}

.wrapper figure svg #ground             { opacity: 1; }
.wrapper figure.scaffold svg #scaffold  { opacity: 1; }
.wrapper figure.head     svg #head      { opacity: 1; }
.wrapper figure.body     svg #body      { opacity: 1; }
.wrapper figure.arms     svg #arms      { opacity: 1; }
.wrapper figure.legs     svg #legs      { opacity: 1; }

.hud {
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.hud p {
    margin-bottom: 0;
}

.statistic {
    font-size: 1.4rem;
}

.words {
    display: flex;
    gap: 1rem;
}

.correct-container {
    display: flex;  
    
}

.correct-letter--container {
    text-align: center;
    min-width: 80px;
    border: 2px solid rgb(26, 26, 85);
    border-radius: 20% 80% 29% 71% / 17% 28% 72% 83%;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.score {
    border: none;
    box-shadow: 0 0 17px 3px rgb(28, 173, 113),
                0 0 4px 2px rgb(28, 173, 113);
}

.correct-letter {
    font-size: 1.5rem;
}

.wrong-container {
    display: flex;
    flex-direction: column;
}

.wrong-letters {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.wrong-message {
    font-size: 1.2rem;
    margin-top: 0;

}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-text {
    color: #FFF;
    font-size: 3rem;
}

.hidden {
    display: none;
}

.reset-btn {
    border: none; 
    position: relative;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    color: #FFF;
    font-size: 1.5rem;
    background: rgb(25, 41, 41);
    transition: all 300ms;
    box-shadow: 4px 5px 2px rgba(255, 255, 255, 0.54);
}

.reset-btn:hover {
    background:rgb(25, 67, 92);
}

.reset-btn:active {
    background:rgba(47, 79, 79, 0.4);
    box-shadow:none;
}


  @media only screen and (max-width: 600px) {
    body {
        height: 80vh;
    }

    h1 {
        text-align: center;
        letter-spacing: 6px;
    }
}

@media only screen and (max-width: 768px) {
}